<h3><i class="fas fa-microchip mr-2"></i>Devices</h3>
<h6 class="mb-4">List of devices providing pollution's measurements
</h6>
<div class="text-center">
  <div *ngIf="!loaded" class="spinner-border"></div>
</div>
<div *ngIf="loaded && apiError" class="alert alert-danger"><i class="fas fa-exclamation-circle fa-lg mr-3"></i>Error
  during fetching
  devices info
</div>
<div *ngIf="loaded && !apiError && devices.length===0" class="alert alert-info"><i
  class="fas fa-info-circle fa-lg mr-3"></i>No device in the system.
</div>
<table *ngIf="devices.length > 0" class="table table-striped table-hover clickable">
  <thead>
  <th>Status</th>
  <th>Device name</th>
  <th>Location</th>
  </thead>
  <tbody>
  <ng-template let-device ngFor [ngForOf]="devices">
    <tr [routerLink]="['/device', device.device_id]" [ngClass]="getTableClass(device.status)">
      <td>
        <div class="badge p-2" [ngClass]="getStatusBadge(device.status)">{{getStatusName(device.status)}}</div>
      </td>
      <td>{{device.name || 'Device #' + device.device_id}}</td>
      <td>{{device.locationName || 'Not specified'}}</td>
    </tr>
  </ng-template>
  </tbody>
</table>

