<div class="row bg-light p-4">
  <div class="col">
    <div class="row mb-3">
      <h3><i class="fas fa-newspaper fa-lg mr-2"></i>News feed
        <hr/>
      </h3>
    </div>
    <ng-template ngFor let-inews let-i="index" [ngForOf]="news">
      <div class="row">
        <div class="col">
          <div class="row mb-2">
            <small class="text-muted">Author: {{inews.author}}, published on: {{inews.publishDate}}</small>
          </div>
          <div class="row font-weight-bold mb-2">{{inews.title}}</div>
          <div class="row">{{inews.content}}</div>
          <div class="m-4" *ngIf="i < news.length - 1"><hr/></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
