<div class="row bg-light p-4">
  <div class="col-8 pl-0">
    <div class="col-12">
      <device-list></device-list>
    </div>
  </div>
  <div class="col-4">
    <div class="col-12 pr-0">
      <device-admin-tools></device-admin-tools>
    </div>
  </div>
</div>
