<div class="row">
  <div class="col p-0">
    <ng-template ngFor let-alert [ngForOf]="alerts">
      <div class="alert alert-info" [class.alert-danger]="alert.level==='DANGER'">{{alert.content}}</div>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <news-feed></news-feed>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col mb-2">
        <h3><i class="fas fa-chart-line fa-lg mr-2"></i>Quick stats
          <hr/>
        </h3>
      </div>
    </div>
    <div class="row m-3 border rounded border-dark p-3">
      <div class="col">
        <h1
          class="text-center p-2 font-weight-bold">{{ quickStats.allDeviceCount === 0 ? 'N/A' : quickStats.activeDeviceCount + ' / ' + quickStats.allDeviceCount}}</h1>
        <h6 class="text-muted text-center">active devices</h6>
      </div>
    </div>
  </div>
</div>
