<div class="row p-4 bg-light">
  <div class="col">
    <div class="row">
      <div class="col">
        <h3>Components dashboard</h3>
        <h6>Eureka Discovery mechanism is used to discover microservices instances. Dashboard presents current swarm state.</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ng-template let-app ngFor [ngForOf]="apps">
          <div class="card w-25 float-left m-4">
            <h5 class="card-header"><i class="fas fa-server mr-2"></i>{{app.name}}</h5>
            <p class="card-header font-weight-bold">Instances: {{app.instanceCount}}</p>
            <ng-template let-instance ngFor [ngForOf]="app.instances" let-index="index">
              <hr *ngIf="index > 0"/>
              <div class="card-body">
                <p>Status: {{instance.status}}</p>
                <p>Home Page URL: <a href="{{instance.homePageUrl}}">{{instance.homePageUrl}}</a></p>
                <p>Registered timestamp: {{instance.registered}}</p>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
