<div class="row bg-light p-4">
  <div class="col-md-3 pl-0 mr-4">
    <div class="card rounded shadow">
      <div class="card-body text-center ">
        <img id="avatar" [src]="avatarUrl" (error)="avatarError=true" alt="" *ngIf="!avatarError"/>
        <i *ngIf="avatarError" class="fa fa-user-circle fa-5x flex-column"></i>
        <h4 class="flex-column font-weight-bold mt-4">{{user.name}}</h4>
      </div>
      <div class="card-footer">
        <input type="file" (change)="uploadAvatar($event)" hidden #input accept="image/jpeg"/>
        <button class="btn btn-outline-dark btn-block p-2 my-2" (click)="input.click()"><i
          class="fas fa-portrait mr-3"></i>Change avatar
        </button>
        <button class="btn btn-outline-danger btn-block p-2 my-2"><i class="fas fa-key mr-3"></i>Reset password</button>
      </div>
    </div>
  </div>
  <div class="col-md bg-light shadow shadow-sm p-4">
    <div class="row align-items-center mb-3">
      <h5 class="font-weight-bold m-0">Your roles</h5>
      <button class="btn btn-primary-darkred ml-auto" disabled><i class="fa fa-file mr-3"></i>Send ask for role</button>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
        <th>Role name</th>
        <th>Gives permission</th>
        </thead>
        <tr *ngFor="let role of user.authorities">
          <td>{{role}}</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
