<li class="nav-item dropdown">
  <a class="nav-link d-flex" href="#" role="button" id="dropdownMenu" data-toggle="dropdown" id="main">
    <i class="fas fa-bell fa-lg"></i>
    <span *ngIf="unreadCount > 0" class="badge badge-primary-darkred d-flex align-self-start"
          id="notify-badge">{{unreadCount}}</span>
  </a>
  <div aria-labelledby="dropdownMenu" class="dropdown-menu dropdown-menu-right"
       style="min-width: 25em;max-height: 50vh;overflow-y:auto">
    <div class="dropdown-header d-flex justify-content-between mb-2">
      <h5 class="text-dark font-weight-bold">Real-time notifications</h5>
      <a class="text-primary-darkred" href="javascript:void(0)" (click)="$event.stopPropagation();readAll()">Read
        all</a>
    </div>

    <ng-container *ngIf="notification.length === 0">
      <div class="dropdown-item"><p class="text-muted">No new notification to read.</p></div>
    </ng-container>
    <ng-container *ngIf="notification.length > 0">
      <ng-container *ngFor="let n of notification; let i=index">
        <div class="dropdown-divider" *ngIf="i > 0"></div>
        <div class="dropdown-item" (click)="$event.stopPropagation();markAsReaded(n)">
          <h6 class="font-weight-bold d-flex justify-content-between">{{n.title}}
            <span *ngIf="n.unread" class="badge badge-primary-darkred">Unread</span></h6>
          <p class="m-0">{{n.content}}</p>
          <small class="text-muted" [class.font-weight-bold]="n.unread"
                 [class.text-primary-darkred]="n.unread"
                 data-toggle="tooltip" data-placement="bottom" title="{{n.created_time | date :'dd-MM-yyyy HH:mm'}}">
            {{n.created_time | elapsed}}
          </small>
        </div>
      </ng-container>
    </ng-container>
  </div>
</li>
