@import "src/styles.scss";

.nav-item {
  text-align: center !important;

  a:hover {
    color: $app-primary-color !important;
  }
}

#title {
  color: $app-primary-color;
  font-size: 2.4em;
  font-weight: bold;
  margin-right: 2em;

  font-family: 'Londrina Solid', cursive;
}

.navbar-brand {
  margin: 0;
  padding: 0;

  img {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    margin: 0 .5em;
  }
}

img#avatar {
  width: 2em;
  height: 2em;
  max-width: 2em;
  max-height: 2em;
  border-radius: 1em;
}
