$logo-size: 500px;

.login-container {
  min-height: 100vh;
  background: url("src/assets/img/login-bg.jpg") no-repeat center;
  background-size: cover;

  > .row:first-child {
    min-height: 100vh;
  }
}

.form-container {
  background-color: white;
  padding: 1.25em;

  > .row:first-child .col:first-child {
    border-right: 1px #BCC1C3 solid;
  }
}
