<div class="container-fluid login-container">
  <div class="row align-items-center">
    <div class="col-sm-7 col-12 mx-auto">
      <div class="form-container rounded shadow">
        <div class="row">
          <div class="col my-auto">
            <img class="img-fluid background" src="../../assets/img/logo-ext-small.png"/>
          </div>
          <div class="col-sm-5 my-auto">
            <h4 class="font-weight-bold mb-3 text-center">Login to Web console</h4>
            <div class="alert alert-info" *ngIf="inDemoSession">
              <div class="font-weight-bold">This is demo session.</div>
              To login use "demo" username and password.
            </div>
            <div *ngIf="errorMsg!==null" class="alert alert-danger"><i
              class="fas fa-exclamation-circle fa-lg mr-3"></i>{{errorMsg}}</div>
            <form [formGroup]="form" (ngSubmit)="onLogin()">
              <div class="form-group">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && form.controls['username'].invalid }"/>
                <div class="invalid-feedback d-block" *ngIf="hasError('username')">
                  Username is required!
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && form.controls['password'].invalid }"/>
                <div *ngIf="hasError('password')" class="invalid-feedback d-block">
                  Password is required!
                </div>
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="pending" class="btn btn-primary-darkred btn-block">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
