<div class="row bg-light p-4">
  <div class="row mb-3 w-100">
    <div class="col">
      <h3>Monitoring dashboard</h3>
      <h6>Brief overview of system activities</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="indicator-grid">
        <div class="m-3 border rounded border-dark p-3">
          <h1 class="text-center p-2 font-weight-bold">{{deviceCount}}</h1>
          <h6 class="text-muted text-center">registered devices</h6>
        </div>
      </div>
    </div>
  </div>
</div>
