/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Hind+Guntur&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

$app-primary-color: darkred;

button.btn-primary-darkred {
  color: white;
  background-color: $app-primary-color;

  //fixme
  &:hover {
    color: white;
    background-color: rgba($app-primary-color, 0.8);
  }

  &:disabled {
    $disabled-border-color: #929292;
    background-color: #E7E7E7;
    border-color: $disabled-border-color;
    color: $disabled-border-color;
    cursor: default;
  }
}

.info-data-container {
  & p {
    span:first-child {
      font-weight: bold;
    }

    span:nth-child(2) {
      display: flex;
      justify-self: end;
    }
  }
}

body {
  font-family: 'Hind Guntur', sans-serif;
}

.badge.badge-primary-darkred {
  color: white;
  background-color: $app-primary-color;
}

.text-primary-darkred {
  color: $app-primary-color !important;
}
