<ngb-toast
  *ngFor="let toast of toastService.toasts" [class]="toast.classname"
  [autohide]="true" [delay]="toast.delay || 5000"
  (hide)="toastService.remove(toast)">
  <ng-template ngbToastHeader>
    <div class="d-flex align-items-center">
      <i *ngIf="toast.classname && toast.classname.indexOf('bg-danger')>-1" class="fas fa-exclamation-circle mr-2"></i>
      <i *ngIf="toast.classname && toast.classname.indexOf('bg-success')>-1" class="fas fa-check-circle mr-2"></i>
      <i *ngIf="!toast.classname" class="fas fa-info-circle mr-2"></i>
      <strong class="mr-3">{{toast.header}}</strong>
      <span class="text-muted">{{currentTime()|date:'dd-MM-yyyy HH:mm:ss'}}</span>
    </div>
  </ng-template>
  {{toast.body}}
</ngb-toast>

