<div class="row mb-3">
  <div class="col-md-6 pl-0">
    <div class="col-12 p-4 bg-light">
      <div *ngIf="apiError === true" class="alert alert-danger">Error during retrieving info about device.</div>
      <div class="text-center">
        <div *ngIf="!loaded" class="spinner-border"></div>
      </div>
      <span *ngIf="loaded">
        <div class="d-block">
        <h3 class="mb-2 font-weight-bold float-left">{{device.name || 'Device #' + device.device_id}}</h3>
        <div class="text-right">
          <div class="btn btn-warning m-1"><i class="fas fa-pen mr-2"></i>Edit</div>
          <div class="btn btn-danger ml-1"><i class="fas fa-trash mr-2"></i>Delete</div>
        </div>
        <hr/>
      </div>
      <div class="row">
        <div class="col">
          <span class="info-data-container">
          <p>
            <span>ID</span>
            <span>{{device.device_id}}</span>
          </p>
          <p>
            <span>Name</span>
            <span>{{device.name}}</span>
          </p>
          <p>
            <span>Description</span>
            <span>{{device.description}}</span>
          </p>
          <p>
            <span>Created date</span>
            <span>{{device.created_date}}</span>
          </p>
          <p>
            <span>MAC address</span>
            <span>{{device.mac_address}}</span>
          </p>
            </span>
        </div>
        <div class="col">
          <span class="info-data-container">
          <p>
            <span>Location name</span>
            <span>{{device.location_name}}</span>
          </p>
          <p>
            <span>Location (Lat, Long)</span>
            <span>{{'(' + device.latitude + ',' + device.longitude + ')'}}</span>
          </p>
          </span>
        </div>
      </div>
      </span>
    </div>
  </div>
  <div class="col-md-6 pr-0">
    <div class="col-12 p-4 bg-light h-100" id="map">
    </div>
  </div>
</div>
<div class="row bg-light py-4">
  <div class="col-md-12">
    <h4 class="mb-3 font-weight-bold d-block">Measurement short history</h4>
    <table class="table table-striped">
      <thead>
      <th>Created date</th>
      <th>Data</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
